@import url('https://fonts.googleapis.com/css?Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(150, 200, 200); 
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
    overflow: hidden;
    margin: 0;
}

button {
    background-color: rgb(17, 150, 143);
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.button:focus {
    outline: none;

}